<div>
    <a href="<%- feedUrl %>"><img src="/img/rss_button.gif" align="right" width="50"/></a>
    <%
    for (var docno = 0; docno < documents.length; docno++) {
        var doc = documents[docno];
        %>
        <span>
            <a href="/<%= doc.renderPath %>"><h2><%= doc.docMetadata.title %></h2></a>
            <span>(<%= doc.docMetadata.publicationDate %>) <%- doc.docMetadata.teaser %></span>
        </span>
        <%
    }
    %>
</div>
