<div>
    <a href="<%- feedUrl %>"><img src="/img/rss_button.gif" align="right" width="50"/></a>
    <%
    for (var docno = 0; docno < documents.length; docno++) {
        var doc = documents[docno];
        %>
        <span>
            <!-- add teaser thumbnail -->
            <a href="/<%= doc.rendername %>"><h2><%= doc.title %></h2></a>
            <span><%= doc.metadata.teaser %> (<%= doc.metadata.publicationDate %>)</span>
        </span>
        <%
    }
    %>
</div>